# Add any directories, files, or patterns you don't want to be tracked by version control
/*
!/README.md
!/.gitignore
!/car
!/control

/control/*
!/control/GPIO引脚分配表.xlsx
!/control/App
!/control/User
!/control/Project
/control/Project/Objects/*

/car/*
!/car/GPIO引脚分配表.xlsx
!/car/App
!/car/User
!/car/Project
/car/Project/Objects/*